body {
font-family: 'roboto', 'raleway'
}

li {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.header-button {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42
}

.header-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        color: #4D5AE5;
}
.footer-title {
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            color: #F4F4FD;
}

.header-title {
    color: #2E2F42;
}

.info {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.button:hover,
.button:focus {
    color: #404BBF;
    background-color: #FFFFFF;
}

 .button-list{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #4D5AE5;
        background: #F4F4FD;
}
.button-list:focus,
.button-list:hover {
    background-color:#4D5AE5 ;
    color: #FFFFFF;
}



.list-item {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-text {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.footer-section {
    background: #2E2F42;
}

.title-list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: #2E2F42;
}

.title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.05;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.section-title {
    background-color: #2E2F42;
}
